<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_综合</title>
</head>
<body>

<!--
  综合使用以下技术:
  1. 页面指令:
    v-model
    @click
    @keyup.enter
    v-for / $index
    v-text
  2. Vue对象
    初始化数据: data
    事件处理函数: methods
-->
<div id="app">
  <input type="text" v-model="msg" @keyup.enter="add">
  <ul>
    <li v-for="(todo,index) in todos">
      {{todo.name}}
    <button @click="remove(index)">X</button>
    </li>
  </ul>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
      el : "#app",
      data : {
          msg : '',
          todos :  [
              { name : '吃饭'},
              { name : '睡觉'},
              { name : '打豆豆'}
          ]
      },
      methods : {
          add () {
              if(!this.msg.trim()){
                  return
              }
              var todo = {
                 name : this.msg
              }
              this.todos.unshift(todo);
        this.msg = ""
          },
          remove (index) {
              this.todos.splice(index, 1)
          }

      }
  })
</script>
</body>
</html>