<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--
1. 使用v-model对表单项数据双向绑定
  text/textarea
  checkbox : 绑定boolean/string值
  radio
  select
2. 失去焦点才更新: .lazy
3. 自动去除两端空格: .trim
-->
<div id="demo">
  <input type="text" v-model="msg"> <br/>
  <textarea  cols="30" rows="10" v-model="msg"></textarea>
  <p>{{msg}}</p>
  <input type="checkbox" v-model="ok">{{ok}}<br>
  <input type="checkbox" name="haha" value="jack" checked="checked" v-model="check">jack
  <input type="checkbox" name="haha" value="mary" v-model="check">mary
  <input type="checkbox" name="haha" value="bob" v-model="check">bob
  {{check}}<br>
  <input type="radio" name="sex" value="main" v-model="radio">男
  <input type="radio" name="sex" value="flmian" v-model="radio">女
  {{radio}}<br>
  <select name="city" v-model="selection">
    <option :value="s.id" v-for="s in citys">{{s.name}}</option>
  </select>
  {{selection}}<br>
  <input type="text"  v-model.lazy="haha">{{haha}}
  <input type="text"  v-model.trim="hehe">{{hehe}}
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
 new Vue({
     el : "#demo",
     data : {
         msg : 'atguigu.com',
         ok : true,
         check : [],
         radio : "main",
         citys : [
             {id : 1 , name : 'bj'},
             {id : 2 , name : 'tj'},
             {id : 3 , name : 'hb'},
         ],
         selection :"",
         haha : '',
         hehe : ''
     }

 })
</script>
</body>
</html>